main {
    background: linear-gradient(162deg, rgb(93, 35, 117) 0%, rgba(45,10,49,1) 50%, rgb(32, 2, 35) 100%);
    background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}

}

$anime-time: 8s;

$box-size: 575px;
$clip-distance: .05;
$clip-size: $box-size * (1 + $clip-distance * 2);
$path-width: 2px;

$main-color: #ba0876;


%full-fill {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.error {
  font-size: 10px;
}

.login-form {
  width: $box-size;
  height: $box-size;
  color: $main-color;
  box-shadow: inset 0 0 0 1px rgba($main-color, .5);
	justify-content: center;
	align-items: center;
  &::before,
  &::after {
    @extend %full-fill;
    content: '';
    z-index: -1;
    margin: -1 * $clip-distance * 100%;
    box-shadow: inset 0 0 0 $path-width;
    animation: clipMe $anime-time linear infinite;
  }

  h2 {
    margin-bottom: 0;
  }

  &::before {
    animation-delay: $anime-time * -.5;
  }

}

@keyframes clipMe {
  0%, 100% {clip: rect(0px, $clip-size, $path-width, 0px); }
  25% {clip: rect(0px, $path-width, $clip-size, 0px); }
  50% {clip: rect($clip-size - $path-width, $clip-size, $clip-size, 0px); }
  75% {clip: rect(0px, $clip-size, $clip-size, $clip-size - $path-width); }
}

input[disabled] {
  opacity: .5;
  cursor: auto !important;
}

input.ng-dirty{
  &.ng-invalid {
    border-bottom: 1px solid #ba0876;
  }
}

.error {
  margin-top: 5px !important;
}
