<main class="login-body">
  <!-- Login Admin -->
  <form class="form-default" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="login-form">
      <div class="login-image">
        <h2>Login Here</h2>
      </div>
      <div class="alert alert-danger mt-2" role="alert" *ngIf="error">
        {{error}}
      </div>
      <div class="form-input">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Email" formControlName="email">
        <span
          *ngIf="loginForm.controls.email.invalid &&
                 loginForm.controls.email.dirty &&
                 loginForm.controls.email.value"
          class="error">Email is invalid</span>
      </div>
      <div class="form-input">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Password" formControlName="password">
        <span
          *ngIf="loginForm.controls.password.invalid &&
                 loginForm.controls.password.dirty &&
                 loginForm.controls.password.value"
          class="error">Password is too short</span>
      </div>
      <div class="form-input pt-30">
        <input type="submit" name="submit" value="login" [disabled]="loginForm.invalid">
      </div>
      <a href="/signup" class="registration">Registration</a>
      <a style="margin-top: 15px;" href="#" class="registration">Home</a>

    </div>
  </form>
</main>
