certifi==2021.10.8
charset-normalizer==2.0.12
coloredlogs==15.0.1
humanfriendly==10.0
idna==3.3
MouseInfo==0.1.3
msgpack==1.0.2
numpy==1.22.2
opencv-python==4.5.5.62
Pillow==9.0.1
PyAutoGUI==0.9.53
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pynput==1.7.6
pyperclip==1.8.2
pyreadline3==3.4.1
PyRect==0.1.4
PyScreeze==0.1.28
python-dotenv==0.19.2
pytweening==1.0.4
pywin32==303
requests==2.27.1
signalrcore==0.9.4
six==1.16.0
urllib3==1.26.9
websocket-client==1.0.0

Flask~=2.0.3