@import "src/scss/settings";

.game-card {
  height: calc(100vh - 32px - #{$header-height});
  max-height: 850px;
  background-size: cover;
  background: #c7c7c7 no-repeat;
  list-style-type: none;
  color: white;
  font-size: 30px;
  text-align: center;
}

.scroll-menu .game-card:not(:last-child) {
  margin-right: 4px;
}

.game-title {
  height: 100%;
  padding-top: 30px;

  transition: all .5s ease;
}

.nonactive-game {
  background: rgba(51, 51, 51, 0.4);
}

.game-title:hover {
  background: linear-gradient(180deg, rgba(36,20,94,0) 0%, rgba(78,44,179,1) 100%);
  cursor: pointer;
}

.coming-soon {
  position: relative;
  top: -50%;
  color: #b6b6b6;
}

.game-title, .coming-soon {
  font-weight: bold;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
