<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="'/'">Cyber Step</a>

      <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
        &#9776;
      </button>

      <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="'/match'" (click)="isMenuCollapsed = true">Matches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/tournament'" (click)="isMenuCollapsed = true">Tournaments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/about'" (click)="isMenuCollapsed = true">About</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto pr-3">
          <li class="nav-item active right-menu-item" *ngIf="authService.isAuthenticated()">
            <div class="money" >
              <fa-icon [icon]="faGem"></fa-icon>
              <span class="amount">3128</span>
            </div>
          </li>
          <li class="nav-item active right-menu-item">
            <div class="login-btn" (click)="handleLogin()">
              <img *ngIf="!authService.isAuthenticated()"
                   src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Steam_icon_logo.svg/2048px-Steam_icon_logo.svg.png"
                   alt="steam">
              <img *ngIf="authService.isAuthenticated()"
                   [src]="authService.currentUser.avatar || 'https://static.thenounproject.com/png/55168-200.png'"
                   alt="profile-image">
              <div *ngIf="authService.isAuthenticated()" class="leave-btn" (click)="authService.logout()">
                <fa-icon [icon]="faSignOut"></fa-icon>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
