.team-container {
}

.player-list {
  width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: inline-block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.player-block {
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.player-block:last-child {
  border: none;
}

.player-list.cdk-drop-list-dragging .player-block:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.accept-round {
  background-color: #e9ecef;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  content: '';
  transition: background-color 250ms cubic-bezier(0, 0, 0.2, 1);
}

.join-btn {
  width: 70px;
}

.accepted {
  background-color: #7530f3;
}

.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

::ng-deep .mat-horizontal-stepper-header{
  pointer-events: none !important;
}

.form-label {
  color: white;
}

.team-name {
  color: white;
}

.container-fluid.ng-star-inserted {
  background-color: #4e4e4e5e;
  padding: 15px;
  border-radius: 9px;
}

.lobby-control {
  margin-right: 10px;
}
