.info-title {
  font-size: 3rem;
  color: #D560EE
}
main{
  width: 95%;
}
.profile-pic {
  border-radius: 50%;
  border: 2px solid #CB60EE;
  width: 200px;
  height: 200px;
}
.form-element {
  padding-left: 10px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  height: 40px;
}
.input {
  width: 100%;
  border: none;
  border-radius: 15px !important;
  padding-right: 10px;
  padding-left: 10px;
  overflow: hidden;
  background: #170518;
  color: white;
  font-family: "Poppins", sans-serif;
}

.label-text {
  color: #D560EE;
}

input[disabled] {
  opacity: .5;
  cursor: auto !important;
}
