<main>
      <!-- Slider Area Start-->
  <div class="slider-area slider-bg">
    <div class="slider-active">
      <!-- Single Slider -->
      <div class="single-slider d-flex align-items-center slider-height">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-9 ">
              <div class="hero__caption">
                <h1 data-animation="fadeInLeft" data-delay=".6s">Page Not Found</h1>
                <!-- Slider btn -->
                <div class="slider-btns">
                  <!-- Hero-btn -->
                  <a data-animation="fadeInLeft" data-delay="1s" href="#" class="btn radius-btn">Home Page</a>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="hero__img d-none d-lg-block f-right">
                <img src="assets/img/hero/404.gif" alt="" data-animation="fadeInRight" data-delay="1s">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Slider Shape -->
    <div class="slider-shape d-none d-lg-block">
      <img class="slider-shape1" src="assets/img/hero/top-left-shape.png" alt="">
    </div>
  </div>
</main>
