@import "src/app/shared/components/variables";


$clip-distance: .05;
$main-color: #ba0876;

.nsm-dialog {
  margin-top: 10%;

  .nsm-content {
    padding: 15px;

    background-color: $modal_bg;

    h1 {
      color: white;
      text-align: center;
    }
  }

  .login-form {
    color: $main-color;
    box-shadow: inset 0 0 0 1px rgba($main-color, .5);
    padding: 70px 70px 20px 70px;
    &::after {
      @extend %full-fill;
      content: '';
      z-index: -1;
      margin: -1 * $clip-distance * 100%;
      box-shadow: inset 0 0 0 2px;
    }

    h2 {
      margin-bottom: 0;
    }

  }

  .error {
    font-size: 10px;
  }

  input[disabled] {
    opacity: .5;
    cursor: auto !important;
  }

  input.ng-dirty{
    &.ng-invalid {
      border-bottom: 1px solid #ba0876;
    }
  }

  .error {
    margin-top: 5px !important;
  }

  %full-fill {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .ng-select .ng-select-container {
    color: white;
  }

  .ng-select .ng-clear-wrapper {
    color: white;
  }

  .ng-select .ng-select-container::after {
    border-bottom: thin solid white;
  }

  container::after {
    border-bottom: thin solid white;
  }

  .ng-select .ng-arrow-wrapper .ng-arrow {
    color: white;
  }

  .ng-dropdown-panel {
    background: #440c4c;
  }

  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    color: white;
  }
}
