.single-blog-container {
  width: 80%;
  margin: 0 auto;

  .single-blog-main-img-container {
    max-width: 100%;
  }

  .single-blog-main-img {
    height: 450px;
  }

  .single-blog-text {
    font-size: 18px;
    line-height: 25px;
  }

  p, span, h1, h2, h3, h4, h5, h6 {
    color: white !important;
  }
}

