<ngb-toast
  *ngFor="let toast of toasts"
  [class]="toast.classname"
  [autohide]="toast.autohide!"
  [header]="toast.header"
  [delay]="toast.delay || 2000"
  (hidden)="removeToast(toast)"
  (mouseenter)="toast.autohide = false"
  (mouseleave)="toast.autohide = true"
>
  <ng-template [ngIf]="isTemplate(toast)" [ngIfElse]="text">
    <ng-template [ngTemplateOutlet]="toast.textOrTemplate"></ng-template>
  </ng-template>

  <ng-template #text>{{ toast.textOrTemplate }}</ng-template>
</ngb-toast>
