.alert-wrap {
  position: fixed;
  top: 90px;
  right: 40px;
  max-width: 700px;
  z-index: 9999;


  p {
    color: white !important;
    margin-top: 10px;
  }

  .alert-success {
    background: linear-gradient(to bottom, #926ceb 0%, #e05eee 100%);
  }
  .alert-warning {
    background: linear-gradient(to bottom, #ff9a29 0%, #ffd919 100%);
  }
  .alert-danger {
    background: linear-gradient(to bottom, #d90101 0%, #ff3344 100%);
  }

  .alert {
    border: none;
    color: white !important;
    border-radius: 20px;
    opacity: .9;
    text-align: center;
  }

}

